.SUB-CONTAINER{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.heading{
    text-align: center;
    color: wheat;
    font-size: 30px;
    margin-top: 10px;
}
.para{
    margin-top: 10px;
    color: white;
}
